You have a record of N students. Each record contains the student's name, and their percent marks in Maths, Physics and Chemistry. The marks can be floating values. The user enters some integer N followed by the names and marks for N students. You are required to save the record in a dictionary data type. The user then enters a student's name. Output the average percentage marks obtained by that student, correct to two decimal places.

<b>Input Format</b>

The first line contains the integer N, the number of students. The next N lines contains the name and marks obtained by that student separated by a space. The final line contains the name of a particular student previously listed.

<b>Constraints</b>
- 2<=N<=10
- 0<=Marks<=100

<b>Output Format</b>

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

<b>Sample Input 0</b>

3 <br/>
Krishna 67 68 69 <br/>
Arjun 70 98 63 <br/>
Malika 52 56 60 <br/>
Malika <br/>

<b>Sample Output 0</b>

56.00

<b>Explanation 0</b>

Marks for Malika are {52, 56, 60} whose average is (52+56+60)/3 => 56

In [1]:
# n = int(input())
# student_marks = {}
# for _ in range(n):
#     name, *line = input().split()
#     scores = list(map(float, line))
#     student_marks[name] = scores
# query_name = input()

3
a 45 56 76
b 76 67 23
c 78 98 34
34

In [13]:
student_marks = {'Krishna' : [67, 68, 69],
                'Arjun' : [70, 98, 63],
                'Malika' : [52, 56, 60]}
student_marks['Krishna']
query_name = 'Krishna'
a = sum(student_marks[query_name])/3
print('{:.2f}'.format(a))

68.00